*.py[co]
*.TODO
*.sublime-project
*.sublime-workspace
.tox/
*.egg-info
dist/
README.md
generate_rst.py
build/
.coverage
*.log
*.log.*
*.sqlite
*.sqlite3
*.backup
settings_local.py
initial_data.json
example/web_project/media/*
!example/web_project/media/.gitkeep
example/debug/emails/*
!example/debug/emails/.gitkeep
