{% extends "partner/affiliate_base.html" %}
{% load i18n %}
{% load affiliate_tags %}

{% block affiliate_content %}
    {% if affiliate %}
        <h3>{% trans "Your code" %}</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>{% trans "Title" %}</td>
                    <td>{% trans "Code" %}</td>
                    <td>{% trans "Example" %}</td>
                </tr>
            </thead>
            <tr>
                <td>{% trans "Affiliate code" %}</td>
                <td>{{ affiliate.aid }}</td>
                <td></td>
            </tr>
            <tr>
                <td>{% trans "Affiliate link" %}</td>
                <td>{{ affiliate_link }}</td>
                <td></td>
            </tr>
            <tr>
                <td>{% trans "Affiliate link for website" %}</td>
                <td>{{ '<a href="'|force_escape }}{{ affiliate_link }}{{'">'|force_escape }}{% trans "Partner link" %}{{'</a>'|force_escape }}</td>
                <td><a href="{{ affiliate_link }}">{% trans 'Partner link' %}</a></td>
            </tr>
        </table>
    {% else %}
        {% trans "Currently you don't have affiliate program. Please, enable it first." %}
    {% endif %}
{% endblock %}

{% block submit_button %}
    {% if not affiliate %}
        <button class="btn btn-success" type="submit">
            {% trans "Create affiliate" %} &raquo;
        </button>
    {% endif %}
{% endblock %}
