{% extends "base.html" %}
{% load i18n %}
{% load url from future %}
{% load crispy_forms_tags %}
{% load affiliate_tags %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-5">


      <h2>{% trans "Sign In" %}</h2>

      <form class="login" method="POST" action=".">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="hidden" name="next" value="{% if 'next' in request.GET %}{{request.GET.next}}{% else %}{% url_aff 'products:list' %}{%endif%}" />
        <button class="btn btn-success" type="submit">{% trans "Sign In" %}</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
